<!-- 
<div class="container mb-1" >
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-unique grey">
        <mdb-navbar-brand>
            <a class="navbar-brand" href="#">Navbar</a>
        </mdb-navbar-brand>
        <links>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
            </div>
        </links>
    </mdb-navbar>
</div> -->
<!-- Navbar -->




<div class="container">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a [routerLink]="['']" routerLinkActive="router-link-active">Home</a>

                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a [routerLink]="['/wishlist']" class="nav-link navbar-link-2 waves-effect">
              Wishlist
            </a> </li>


                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Icon -->
                <a [routerLink]="['/mycart']" class="nav-link navbar-link-2 waves-effect">
                    <div class="badge bg-danger">{{totalItem}}</div>
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <!-- Notifications -->
                <a type="button" class="btn btn-outline-light btn-rounded" data-mdb-ripple-color="dark" [routerLink]="['/login']" routerLinkActive="router-link-active">Sign in</a>


                <a type="button" [routerLink]="['/register']" routerLinkActive="router-link-active" class="btn btn-outline-primary btn-rounded" data-mdb-ripple-color="dark">Sign up</a>

                <!-- Avatar -->
                <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                    <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-circle" height="25" alt="" loading="lazy" />
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" href="#">My profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Settings</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</div>