// .navbar{
//     background-color: black !important;
// }
.btn-rounded {
    border-radius: 10rem;
}

.bg-light {
    background-color: #212121 !important;
    padding: 1rem;
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
    color: white;
    float: right;
}

a {
    margin: .5rem;
    font-size: 1rem;
}