.alert__massege {
    p {
        padding: .5rem;
        margin: 1rem 2rem;
        color: #e46161;
    }
}

input :focus {
    background: #2196f378 !important;
}

input {
    border: 1px solid white !important;
}

h2 {
    color: #1d8aff;
}

.blue {
    color: #1d8aff;
}